
.site-header {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	
	&__avatar {
		width: 150px;
		height: 150px;
		border: 6px solid @orange;
		border-radius: 50%;
		overflow: hidden;
		display: flex;
		align-items: center;
		justify-content: center;
		.transition();
		position: relative;
		@media print {
			//display: none;
			//&::after {
			//	content: 'Bad black and white Printer';
			//	display: block;
			//	font-size: 3rem;
			//	color: @brand;
			//	position: absolute;
			//	text-align: center;
			//}
		}
		&:hover {
			border: 6px solid @blue;
			.photo {
				transform: scale(2.3);
			}
		}
	}
	&__name {
		font-size: 1.9rem;
		margin-top: 15px;
		color: @orange;
		font-weight: 700;
	}
	&__position {
		margin-top: 11px;
		color: @blue;
		font-size: 1.9rem;
	}
	&__description {
		text-align: center;
		margin-top: 33px;
	}
}

.photo {
	background: url(../images/ava.jpg) center 29px no-repeat;
	width: 100%;
	height: 100%;
	background-size: cover;
	transform: scale(1.9);
	.transition(.5s);
	//@media print {
	//	background: none;
	//}
}

.education {
	margin-top: 160px;
	position: relative;
	display: flex;
	justify-content: center;
	width: 100%;
	&__line {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 6px;
		background-color: @blue;
		&::before,
		&::after {
			content: '';
			background-color: @blue;
			width: 24px;
			height: 24px;
			border-radius: 50%;
			position: absolute;
			top: -8px;
		}
		&::before {
			left: 0;
		}
		&::after {
			right: 0;
		}
	}
	&__info {
		text-align: center;
		margin: 0 27px;
		padding-top: 27px;
		position: relative;
		width: 260px;
		&::before {
			content: '';
			width: 22px;
			height: 22px;
			background-color: @bg;
			border: 2px solid @blue;
			border-radius: 50%;
			position: absolute;
			top: -10px;
			left: calc(~"50% - 12px");
		}
	}
	&__text {
		@media @mobile {
			font-size: 1.2rem;
		}
	}
	&__icon {
		position: absolute;
		top: -130px;
		left: calc(~'50% - 50px');
		@media @mobile {
			top: -100px;
			left: calc(~'50% - 35px');
		}
		svg {
			width: 100px;
			height: 100px;
			
			@media @mobile {
				width: 70px;
				height: 70px;
			}
		}
	}
}

.info-experience {
	display: flex;
	justify-content: space-between;
	margin-top: 35px;
	flex-wrap: wrap;
}

.info {
	&--big {
		width: 40%;
	}
	&__work {
		margin-top: 25px;
	}
	&__personal {
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		margin-top: 25px;
		align-items: center;
	}
	&__key {
		min-width: 70px;
		display: block;
		font-size: 3rem;
		line-height: 3.2rem;
		font-weight: bold;
		//margin-bottom: 15px;
		color: @blue;
		display: flex;
		align-items: center;
		svg {
			width: 50px;
			height: 50px;
		}
	}
	&__value {
		margin-left: 20px;
	}
}

.main-skills {
	margin-top: 50px;
}

.prof-skills {
	display: flex;
	justify-content: space-between;
	//margin-top: 70px;
	//font-size: 2rem;
	flex-wrap: wrap;
	width: 100%;
	
	&__group {
		margin-top: 20px;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	&__rate {
		display: flex;
		width: 102px;
		justify-content: space-between;
	}
	&__exp {
		width: 14px;
		height: 15px;
		background-color: transparent;
		border-radius: 50%;
		border: 1px solid @orange;
		&--active {
			background-color: @orange;
		}
	}
}

.info {
	margin: 0 15px;
	@media @mobile {
		width: 100%;
	}
	&--small {
		width: 40%;
		@media @mobile {
			width: 100%;
		}
	}
}

.workplace {
	&__name {
		font-style: italic;
	}
	&__link {
		display: flex;
		align-items: center;
		&:hover {
			.workplace__position {
				&::before {
					left: -15px;
				}
				&::after {
					right: -15px;
				}
			}
		}
	}
	&__icon {
		margin-right: 25px;
		min-width: 100px;
		img {
			width: 100px;
		}
	}
	&__position {
		margin-left: 10px;
		position: relative;
		display: inline-block;
		font-style: italic;
		&::before,
		&::after {
			.transition();
			position: absolute;
		}
		&::before {
			content: '[ ';
			left: -10px;
		}
		&::after {
			content: ' ]';
			right: -10px;
		}
	}
}

.hobbies {
	//margin-top: 35px;
	padding: 0 15px;
	&__list {
		display: flex;
		justify-content: space-around;
		//padding-top: 20px;
		flex-wrap: wrap;
	}
	&__item {
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
		margin: 0 20px;
		@media @mobile {
			margin-bottom: 30px;
		}
		&:hover {
			svg {
				transform: scale(1.1);
			}
		}
	}
	&__icon {
		//margin-bottom: 15px;
		svg {
			width: 100px;
			height: 100px;
			.transition();
		}
	}
}



